{% extends 'base.html' %}
{% block content %}

<font size="+1" color="red">
</font>
<center>
<font size="+1" color="red">{{msg}}
</font>
<h2>Forget password?</h2>
<br>
<form method="post" action="/forget/">
	{% csrf_token %} 
<table  width="50%" id="tab" cellspacing="10">
                    
                    <tr><td><input class="form-control"  type="text" name="uid" placeholder="UserID" required="required" onblur="validate1()"></input></td></tr>                    <tr><td><input type="submit" class="form-control" value="Submit">
</table>
<br>
					<a href="/forget"><h6>Forget password?</h4></a>
</form>

{% endblock %}