{% extends 'base.html' %}
{% block content %}

<font size="+1" color="red">
</font>
<center>
<font size="+1" color="red">{{msg}}
</font>
<h2>Verification</h2>
<br>
<form method="post" action="/forget2/">
	{% csrf_token %} 
<table  width="50%" id="tab" cellspacing="10">
                    
<tr><td><h4>{{data.question}}</h4>
<input type="hidden" name="uid" value="{{data.userid}}">
<tr><td><input class="form-control"  type="text" name="ans" placeholder="Answer" required="required" onblur="validate3()"></input></td></tr>
<tr><td><input type="submit" class="form-control" value="Submit">
</table>
<br>
	
</form>

{% endblock %}